mixin bonuses 
    section.bonuses.section.section-dark-bg.light
        .container
            .section-headline
                    h3.section-headline__title.section-headline__title_big
                        | У нас разработаны бонусные системы и скидки для наших клиентов
            .bonuses-wrapper
                .bonuses-item
                    img(src="img/bonuses/10per.png", alt="Дополнительная скидка 10 процентов на вторую запчасть").bonuses-item__img
                    p.bonuses-item__parahraph
                        | Дополнительная скидка 10% на вторую запчасть и любые последующие

                .bonuses-item
                    img(src="img/bonuses/20per.png", alt="Скидка 20 процентов").bonuses-item__img
                    p.bonuses-item__parahraph
                        | Скидка 20% при заключении договора на годовое сервисное обслуживание


                .bonuses-item
                    img(src="img/bonuses/truck.png", alt="Бесплатная доставка").bonuses-item__img
                    p.bonuses-item__parahraph
                        | Бесплатная доставка по всей России для всех клиентов

                .bonuses-item
                    img(src="img/bonuses/manager.png", alt="Круглосуточная тех. поддержка").bonuses-item__img
                    p.bonuses-item__parahraph
                        | Бесплатная круглосуточная техническая поддержка  
