mixin dont-wait
    section.dont-wait.section.section-dark-bg.light
        .container
            .section-headline
                h3.section-headline__title
                    | Вам не придется ждать!
                span.section-headline__subtitle
                    | Любые запчасти для всех моделей Белаз всегда в наличии!
            .dont-wait__wrapper
                .dont-wait__item
                    .dont-wait__img-wrapper
                        img(src="img/dont-wait/details.png", alt="Любые типы деталей от шайбы до двигателя!").dont-wait__img
                    span.dont-wait__description
                        | Любые типы деталей от шайбы до двигателя!  
                .dont-wait__item
                    .dont-wait__img-wrapper
                        img(src="img/dont-wait/dump-truck.png", alt="Любые типы деталей от шайбы до двигателя!").dont-wait__img
                    span.dont-wait__description
                        | Все модификации Белаз от 45т до 450 т
                .dont-wait__item
                    .dont-wait__img-wrapper
                        img(src="img/dont-wait/calendar.png", alt="Любые типы деталей от шайбы до двигателя!").dont-wait__img
                    span.dont-wait__description
                        | Отгружаем в день заказа!
                .dont-wait__item
                    .dont-wait__img-wrapper
                        img(src="img/dont-wait/point.png", alt="Любые типы деталей от шайбы до двигателя!").dont-wait__img
                    span.dont-wait__description
                        | Доставим в любое место!
