mixin faq
    section.faq.section-light-bg.light
        .container
            .section-headline
                h3.section-headline__title.section-headline__title_big
                    | У Вас остались вопросы?
                span.section-headline__subtitle
                    | На Ваши вопросы отвечает Эдуард
            .faq-wrapper
                .faq-tips
                    ol.faq-list
                        li.faq-list__item
                            a(data-toggle="tooltip", data-placement='bottom', title='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.').light-link
                                | Как заказать деталь правильно?
                        li.faq-list__item
                            a(data-toggle="tooltip", data-placement='bottom', title='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.').light-link
                                | Что делать, если запчасть не понадобилась?
                        li.faq-list__item
                            a(data-toggle="tooltip", data-placement='bottom', title='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.').light-link
                                | Можете ли Вы установить деталь?
                        li.faq-list__item
                            a(data-toggle="tooltip" title='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.').light-link
                                | В чем преимущества оригинальных деталей?
                        li.faq-list__item
                            a(data-toggle="tooltip" title='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.').light-link
                                | В чем преимущества оригинальных деталей?
                    .faq-cta
                        img(src="img/faq/faq-icon.svg", alt="Звоните", width='20px').faq-cta__img
                        a(href="#").faq-cta__link.light-link
                            | Еще вопросы?
                .faq-photo
                    img(src="img/faq/faq-img.jpg", alt='Эдуард Викторович, Директор ООО "Eddie`s-Car"').faq-photo__img
                    .faq-photo__corner
                        | Эдуард Викторович,
                        br
                        | Директор ООО "Eddie`s-Car"
                