mixin footer
    footer.footer.light
        .container
            .footer-wrapper
                .footer-logo
                    img(src="img/Logo.png", alt="EC  Eddie's car").footer-logo__img
                .footer-help
                    .footer-help__wrapper
                        span.footer-help__question
                            | Есть вопросы? Звоните!
                        a(href="#").footer-help__link.light-link
                            | +7 (818) 247-47-25