mixin header
    header.header
        .container
            .header-content
                .header-top
                    a(href='#')
                        img(src='img/Logo.png' alt='Eddies-Car')
                    .header-toggle
                        span.header-toggle__item
                .header-wrapper
                    .worktime
                        span.worktime-time 
                            | 9:00 до 21:00
                        span.worktime-weekend
                            | без выходных
                    .phone-numbers
                        a(href="tel: +7 (818) 247-47-25").phone-numbers__el.light-link
                            | +7 (818) 247-47-25
                        a(href="tel: +7 (818) 247-47-25").phone-numbers__el.light-link
                            | +7 (818) 247-47-25
                    button.button.button-primary.header-button
                        | Заказать звонок
                


