mixin hero
    section.hero
        .container-fluid
            .container
                .row
                    .col-xl-6   
                        .hero-ticket
                            h1.hero-ticket__title
                                | Оригинальные запчасти для Белаз
                            span.hero-ticket__subtitle
                                | с бесплатной доставкой в Ваш город!
                            .hero-ticket__features
                                .hero-ticket__item
                                    img(src='img/features/piggybank.svg' width='30px' alt='sale').hero-ticket__img
                                    span.hero-ticket__description
                                        | Дилерские цены - ниже на 20%, работаем без посредников!
                                .hero-ticket__item
                                    img(src='img/features/delivery.svg' width='30px' alt='delivery').hero-ticket__img
                                    span.hero-ticket__description
                                        | Срочная бесплатная доставка за 7 дней


                                .hero-ticket__item
                                    img(src='img/features/calendar.svg' width='30px' alt='6mounths').hero-ticket__img
                                    span.hero-ticket__description
                                        | Даем рассрочку 6 месяцев  


                                .hero-ticket__item
                                    img(src='img/features/reward.svg' width='30px' alt='garant').hero-ticket__img
                                    span.hero-ticket__description
                                        | Даем гарантию от 12 месяцев  


                    