mixin warehouse
    section.warehouse.section-light-bg.light
        .container
            .section-headline
                h3.section-headline__title
                    | У нас собственный склад!
                span.section-headline__subtitle
                    | Это позволяет нам быстро обрабатывать запросы и отгружать детали в день заказа!
            .warehouse-wrapper
                .warehouse-item
                    img(src="img/warehouse/1.jpg", alt="Склад1").warehouse-item__img
                .warehouse-item
                    img(src="img/warehouse/2.jpg", alt="Склад2").warehouse-item__img
                .warehouse-item    
                    img(src="img/warehouse/3.jpg", alt="Склад3").warehouse-item__img