mixin warranty
    section.warranty.section.dark
        .container
            .section-headline
                    h3.section-headline__title.section-headline__title_big
                        | Мы гарантируем сохранность деталей во время перевозки!
            .warranty-wrapper
                .warranty-item
                    img(src="img/warranty/document.jpg", alt="Гарантия целостности в договоре").warranty-item__img
                    h4.warranty-item__title
                        | Гарантия на целостность поставки прописана в договоре

                    a(href='#').warranty-item__link.dark-link
                        | Подробнее
                .warranty-item
                    img(src="img/warranty/pack.jpg", alt="Доставка в жёсткой упаковке").warranty-item__img
                    h4.warranty-item__title
                        | Каждая запчасть доставляется с заводав жесткой упаковке
                    a(href='#').warranty-item__link.dark-link
                        | Подробнее
                .warranty-item
                    img(src="img/warranty/checking.jpg", alt="Контроль за качеством").warranty-item__img
                    h4.warranty-item__title
                        | Дополнительный контроль качества нашими специалистами
                    a(href='#').warranty-item__link.dark-link
                        | Подробнее
