mixin we-can
    section.we-can.dark
        .container
            .section-headline
                h3.section-headline__title.section-headline__title_big.we-can__headline
                    | У нас в штате есть мобильные бригады, готовые выехать на сервисное обслуживание, ремонт и проведение диагностики!
            .we-can-wrapper
                .we-can-item
                    img(src="img/we-can/speed.png", alt="Организуем выезд специалистов в течение двух дней").we-can-item__img
                    span.we-can-item__description
                        | Организуем выезд специалистов в течение двух дней
                .we-can-item
                    img(src="img/we-can/complect.png", alt="Организуем выезд специалистов в течение двух дней").we-can-item__img
                    span.we-can-item__description
                        | Бригады укомплектованы всем необходимым оборудованием для производства работ любой сложности
                .we-can-item
                    img(src="img/we-can/education.png", alt="Организуем выезд специалистов в течение двух дней").we-can-item__img
                    span.we-can-item__description
                        | Все специалисты проходят обучение и ежегодную аттестацию


