@font-face {
	font-family: 'Proxima Reg';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('../fonts/Proxima Nova Regular'), local('../fonts/ProximaNova-Regular'),
		url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Black';
	src: url('../fonts/ProximaNova-Black.eot');
	src: local('../fonts/Proxima Nova Black'), local('../fonts/ProximaNova-Black'),
		url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Black.woff') format('woff'),
		url('../fonts/ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: local('../fonts/Proxima Nova Bold'), local('../fonts/ProximaNova-Bold'),
		url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../fonts/ProximaNovaT-Thin.eot');
	src: local('../fonts/Proxima Nova Thin'), local('../fonts/ProximaNovaT-Thin'),
		url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
		url('../fonts/ProximaNovaT-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
