include ../blocks/header.pug
include ../blocks/hero.pug
include ../blocks/offer.pug
include ../blocks/dont-wait.pug
include ../blocks/price-offer.pug
include ../blocks/warranty.pug
include ../blocks/bonuses.pug
include ../blocks/faq.pug
include ../blocks/convenience.pug
include ../blocks/warehouse.pug
include ../blocks/we-can.pug